$standard-em: 1em;
$standard-px: 14px;

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: $standard-px;
  margin: 0;
  color: $standard-black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $green;

  &:hover {
    color: $light-green;
  }
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.page-main-content {
  padding-top: 2em;
  padding-bottom: 2em;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.navbar {
  z-index: 1000;
  background-color: $gray2;

  .navbar-header {
    @include Clearfix;
    padding: 0.3em 0;

    .navbar-logo {
      font-size: 1.2em;
      margin: 0.5em 0 0;
      float: left;
      @include Goudy;
    }

    a {
      color: $standard-black;
    }
  }

  .navbar-toggle {
    display: block;
    float: right;
    padding: 0.7em;
    margin: 0;
    margin-right: -0.7em;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;

    font-size: 1em;
  }

  .navbar-collapse {
    background-color: $gray1;
  }

  ul {
    list-style-type: none;
    padding: 0.6em 0;
    margin: 0;

    li {
      a {
        display: block;
        padding: 0.7em 0;
        color: $text-gray;

        &:active, &:hover {
          color: $standard-black;
        }
      }
    }
  }
}

footer.footer {
  background-color: $gray7;
  color: $gray3;

  #site-map {
    padding-top: 2em;
  }

  .site-map-containing-list {
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      float: left;
      margin-right: 3em;
      margin-bottom: 1em;
    }
  }

  .site-map-section-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      float: none;
      width: auto;
      font-size: 0.8em;
      margin: 0 0 0.8em;

      a {
        color: $gray4;
      }
    }

    .site-map-section-title {
      font-size: 0.9em;

      a {
        color: white;
      }
    }
  }

  .social-media-nav {
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      float: left;
      margin-left: 0.5em;
      margin-bottom: 1em;

      &:first-child {
        margin-left: 0;
      }
    }

    .foreground-icon {
      color: $gray7;
    }
    .background-icon {
      color: $gray4;
    }
  }

  .footer-contact-container {
    background-color: $gray6;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 0.8em;
    line-height: 1.6;
    color: $gray4;
    overflow: hidden;

    .footer-title {
      font-size: 1.1em;
      margin: 0 0 0.5em;
      font-weight: normal;
    }

    .footer-contact-column {
      float: left;
      margin: 0 3em 1em 0;
    }

    a {
      color: $gray4;
      &:active, &:hover {
        color: white;
      }
    }
  }
}
