.home-featured {
  position: relative;
  background-color: $brand-neutral-light;
  overflow: hidden;

  .home-featured-content-container {
    //color: $brand-neutral-lighter;

    .home-featured-content {
      padding: 1em 0;
      //-webkit-font-smoothing: antialiased;

      .home-featured-heading {
        //margin: 0 0 0.2em;
        margin-top: 0;
        font-size: 1.5em;
        line-height: 1;
      }

      p {
        margin: 0;
      }

      a {
        //color: $brand-neutral-lighter;

        &:hover, &:active {
          //color: $light-green;
        }
      }
    }
  }

  .home-featured-bg {
    width: 100%;
    height: auto;
  }
}