.pages-contact, .contact_messages-page {

/*
 *  Photo Header
 */

  .photo-banner {
    background-image: url(../assets/photo_header_bgs/oncidium.jpg);
  }

  .contact-information {

    @include media(desktop-tablet) {

      padding-top: 5.8em;
      font-size: 0.8em;

      .section-header {
        font-size: 1.3em;
        margin-bottom: 0.5em;
        color: $text-black-light;
      }

      .secondary-section {
        margin: 2.5em 0;
      }
    }
  }

  .new_contact_message {
    .faux-submit-btn {
      @include ButtonLarge;
    }
  }
}