.pages-membership {

/*
 *  Photo Header
 */

  .photo-header {
    background-image: url(../assets/photo_header_bgs/oncidium.jpg);
  }

  .page-header {
    background-color: $off-white;

    .container {
      padding-right: 0;
      max-width: 952px;
    }
  }

/*
 *  Google Map
 */

  .google_map_canvas_container {

    #google_map_canvas {
      height: 16em;
      margin-bottom: 1em;
      background-color: #ccc;
    }
  }

/*
 *  Join Now
 */

  #join-now {
    margin-bottom: 0;

    .contrast-box {
      padding-top: 2.2em;
      padding-bottom: 5em;
    }
  }

  .join-renew-paypal-form {
    .submit-container {
      text-align: right;
    }
  }
}

/*
 *  Newsletter Section
 */

.membership-newsletter {
  
  .membership-newsletter-title {
    font-size: 1.6em;
    vertical-align: middle;
  }

  .membership-newsletter-content {

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-right: -2em;
    }
  }

  a {
    display: block;
    position: relative;
    padding: 1.5em;
    text-transform: uppercase;
    font-weight: bold;

    i {
      @include position(absolute, 50% 0.5em 0 0);
      font-size: 2.2em;
      margin-top: -0.5em;
    }

    &.newsletter-latest {
      background-color: $orange;
      color: white;
    }

    &.newsletter-archives {
      background-color: $off-white-dark;
      color: $text-gray;
    }
  }
}