-provide(:title, 'Contact')

.page-banner
  .photo-banner

.container

  %section.standard-section.last
    %h2.section-header Thank You!

    %p Your message has been recieved. A representative from the Northwest Orchid Society will be in touch with you soon!