body {
  //background-color: #fefefe;
}

.container {
  padding-left: 1.8em;
  padding-right: 1.8em;
}

header.header {
  padding-top: 1.2em;
  background-color: $brand-neutral-lighter;
}

.navbar {
  position: relative;
  background-color: transparent;

  .navbar-header {
    padding: 0;

    .navbar-logo {
      display: block;
      width: 242px;
      @include ImageReplacement;
      background: transparent url(/assets/logo.png) 0 0 no-repeat;
      height: 60px;
      margin: 0;
    }
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse {
    width: auto;
    background-color: transparent;
    border-bottom: 3px solid $brand-neutral-lighter;
    @include Clearfix;

    margin-top: -1.8em;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }

  ul {
    padding: 0;
    margin: 0 0 -3px 0;

    li {
      float: left;
      font-size: 0.9em;

      a {
        @include InlineBlock;
        padding: 1em 0.2em;
        border-bottom: 3px solid transparent;

        &:hover, &:active {
          color: $green;
          border-bottom: 3px solid $light-green;
        }
      }
    }

    &.main-nav {
      float: right;

      li {
        a {
          margin-right: 2em;
        }
      }
    }

//    &.user-nav {
//      float: right;
//    }
  }
}

footer.footer {

  #site-map {
    @include Clearfix;
    padding-top: 3em;
  }

  .site-map-containing-list {
    float: left;
  }

  .site-map-section-list {
    .site-map-section-title {
    }
  }

  .social-media-nav {
    float: right;
  }

  .footer-contact-container {
    padding-top: 3em;
    padding-bottom: 1em;
    overflow: hidden;

    .footer-title {
      float: left;
      margin: 0 3em 1em 0;
    }
  }
}

.row-right {
  @include row($direction: RTL);
}

.col-1-half {
  @include span-columns(6);
}
.col-1-third {
  @include span-columns(4);
}
.col-2-third {
  @include span-columns(8);
}
.col-1-fourth {
  @include span-columns(3);
}
.col-3-fourth {
  @include span-columns(9);
}

.col-span-3 {
  @include span-columns(3);
}
.col-span-4 {
  @include span-columns(4);
}
.col-span-5 {
  @include span-columns(5);
}
.col-span-6 {
  @include span-columns(6);
}
.col-span-7 {
  @include span-columns(7);
}
.col-span-8 {
  @include span-columns(8);
}
.col-span-9 {
  @include span-columns(9);
}

.col-divider {
  position: relative;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: -11.3%;
    background-color: $brand-neutral;
  }
}

.standard-section {
  margin-top: 4em;
  margin-bottom: 5em;
}

.section-header {

}

.standard-aside {
  margin-top: 4em;
  margin-bottom: 4em;

  p {
    color: $brand-text-dark;
  }

  .aside-block {

    p {
      font-size: 0.9em;
    }
  }
}

.aside-header {
  margin-bottom: 0.6em;
  font-size: 1.1em;
}