.home-featured {
  max-height: 400px;

  .home-featured-content-container {
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 0;
    left: 0;
    color: white;

    .container {
      position: relative;
    }

    .home-featured-content {
      background-color: $gray7;
      padding: 1.8em;
      margin-left: -1.8em;
      max-width: 500px;

      .home-featured-heading {
        margin: 0 0 0.2em;
        font-size: 1.8em;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }

  .home-featured-bg {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}