// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.background-graphic {
  background: transparent url(../assets/bg_graphic.png) 0 0 no-repeat;
  width: 321px;
  height: 553px;
  position: absolute;
  right: -260px;
  top: 280px;
  z-index: 9999;

  &.reflected {
    background-image: url(../assets/bg_graphic_reflected.png);
    left: -260px;
  }
}

.half {
  width: 50%;
  float: left;
}

nav {
  position: inherit;
  width: auto;

  ul {
    font-size: 0.7em;
    width: auto;
    float: right;
    padding: 0;
  }

  li {
    @include InlineBlock;
    margin-left: 3em;
    padding-top: 0;
    width: auto;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      width: auto;
    }
  }

  .icon {
    font-size: 2em;
  }
}

.main {
  position: relative;
  padding: 0.8em;
}

.content-container {
  margin: 2.5em auto;
  padding-left: 0;
  padding-right: 0;
}

h1 {
  width: auto;
  max-width: 243px;

  background: transparent url(/assets/logo_graphic_only.png) 0 8px no-repeat;
  padding: 20px 11px 0 65px;
  margin: -17px 0 1.8em;
  min-height: 48px;
  line-height: 1;
  font-size: 1em;

  .top-line {
    font-size: 1.35em;
  }
}

h2 {
  font-size: 1.1em;

  span {
    font-size: 2.8em;
  }
}

.when {
  font-size: 1em;
  max-width: 570px;
  position:relative;

  .holiday {
    margin-bottom: 2em;
  }

  .amp {
    display: block;
    position: absolute;
    width: 3em;
    left: 50%;
    margin-left: -1.5em;
    margin-top: -0.1em;
    font-size: 2em;
  }
}

.where {
  font-size: 1em;
}

#map_canvas {
  height: 350px;
}

.share {
  margin: 1em auto;
}

.social-media-button {
  @include InlineBlock;
}