// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  border-top: 8px solid #d3ccbf;
}

.background-graphic {
  background: transparent url(../assets/bg_graphic.png) 0 0 no-repeat;
  width: 321px;
  height: 553px;
  position: absolute;
  right: -260px;
  top: 280px;
  z-index: 9999;

  &.reflected {
    background-image: url(../assets/bg_graphic_reflected.png);
    left: -260px;
  }
}

.half {
  width: 50%;
  float: left;
}

header {
  margin: 1.2em 0 2em;
  background: transparent;
  @include Clearfix;
}

nav {
  width: auto;

  ul {
    font-size: 0.75em;
    width: auto;
    float: right;
    padding: 0;
    margin: 0;
  }

  li {
    @include inline-block;
    margin-left: 3em;
    padding-top: 0;
    width: auto;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      width: auto;
    }
  }

  .icon {
    font-size: 2em;
  }
}

.main {
  position: relative;
  padding: 0.8em;
}

.content-container {
  margin: 2.5em auto;
  padding-left: 0;
  padding-right: 0;
}

.logo-header {
  @include UnhideElement(relative);
  display: block;
  width: 242px;
  //padding: 0.8em;
  //margin: 0 0 0 -0.8em;
  //background-color: rgba(255, 255, 255, 0.3);

  h1 {
    @include ImageReplacement;
    background: transparent url(/assets/logo.png) 0 0 no-repeat;
    height: 60px;
    margin: 0;
  }
}

.heading {
  position: relative;
  height: 120px;

  &:before, &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    z-index: 0;
  }

  &:before {
    border-width: 50px 30px;
    border-style: solid;
    border-color: #f9a223 #f9a223 #f9a223 transparent;
    //border-color: #dbd0af #dbd0af #dbd0af transparent;
    left: -60px;
    bottom: -20px;
  }

  &:after {
    border-width: 50px 30px;
    border-style: solid;
    border-color: #f9a223 transparent #f9a223 #f9a223;
    //border-color: #dbd0af transparent #dbd0af #dbd0af;
    right: -60px;
    bottom: -20px;
  }
}

h2.ribbon {
  font-size: 1.1em;

  position: absolute;
  //padding: 1.5em 0.8em;
  margin-top: 0;
  z-index: 9999;

  span {
    font-size: 2.9em;
  }
}

.when {
  font-size: 1em;
  max-width: 570px;
  position:relative;

  .holiday {
    margin-bottom: 2em;
  }

  .amp {
    display: block;
    position: absolute;
    width: 3em;
    left: 50%;
    margin-left: -1.5em;
    margin-top: -0.1em;
    font-size: 2em;
  }
}

.where {
  font-size: 1em;

  .address-title {
    font-size: 1.35em;
  }
}

#map_canvas {
  height: 350px;
}

.talks-table {
  display: table;
  width: 100%;
  border-spacing:0;
  border-collapse:collapse;
  font-size: 0.9em;
  margin-bottom: 3em;

  tr {
    display: table-row;
  }

  td {
    display: table-cell;
    vertical-align: top;
    padding: 1em 1.2em;
    background-color: $light1;
  }

  tr:nth-child(even) {
    td {
      background-color: $light2;
    }
  }

  .talk-time {
    //color: #444;
    width: 20%;
  }

  .talk-speaker {
    width: 30%;
  }

  .talk-topic {
    width: 50%;
  }
}

.share {
  margin: 1em auto;
}

.social-media-button {
  @include inline-block;
}

/* TEMP LANDING */

#headline {
  padding: 0;
  border: 1em solid white;

  img {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 74%;
    width: auto;
    height: auto;
  }

  p {
    width: 81%;
  }
}

.contact-container {
  overflow: hidden;
  margin: 2em 0;

  p {
    float: left;
    margin: 0;

    &.first {
      width: 50%;
    }
    
    &.last {
      padding-left: 2.5em;
      border-left: 1px dotted $medium;
    }
  }
}