// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  position: relative;
}

@media all and (min-width: 1000px) {
  .background-graphic {
    background: transparent url(../assets/bg_graphic.png) 0 0 no-repeat;
    width: 321px;
    height: 553px;
    position: absolute;
    right: -260px;
    top: 50%;
    margin-top: -300px;
    z-index: 9999;

    &.reflected {
      background-image: url(../assets/bg_graphic_reflected.png);
      left: -260px;
    }
  }
}

.half {
  width: 50%;
  float: left;
}

nav {
  position: inherit;
  width: auto;

  ul {
    font-size: 0.7em;
    width: auto;
    float: right;
    padding: 0;
  }

  li {
    @include InlineBlock;
    margin-left: 3em;
    padding-top: 0;
    vertical-align: bottom;
    width: auto;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      width: auto;
    }
  }

  .icon {
    font-size: 2em;
  }
}

h1 {
  width: 243px;

  background: transparent url(/assets/logo_graphic_only.png) 0 8px no-repeat;
  min-height: 70px;
  padding: 20px 11px 0 83px;
  margin: -0.4em 0 1.8em;
  line-height: 1;
  font-size: 1.56em;

  .top-line {
    font-size: 1.35em;
  }
}

h2 {
  font-size: 1.1em;

  span {
    font-size: 2.8em;
  }
}

.when {
  font-size: 1em;
  max-width: 570px;
  position:relative;

  .amp {
    position: absolute;
    width: 3em;
    left: 50%;
    margin-left: -1.5em;
    margin-top: -0.2em;
    font-size: 3em;
  }
}

.where {
  font-size: 1em;
}

#map_canvas {
  height: 350px;
}

.details-list {
  margin: 2.5em auto;

  li {
    display: inline-block;
    *display: inline;
    margin: 0 1em;
  }
}

.share {
  margin: 2em auto;
}

.social-media-button {
  @include InlineBlock;
}