%p.event-hours
  - if event.event_dates.count > 1

    - event.ordered_dates.each do |d|
      %span.wday=d.starts_at.strftime("%a")
      %span.time
        =d.starts_at.strftime("%l:%M%P")
        —
        =d.ends_at.strftime("%l:%M%P")
      %br

  -else
    %span.time
      =event.event_dates.first.starts_at.strftime("%l:%M%P")
      —
      =event.event_dates.first.ends_at.strftime("%l:%M%P")