-provide(:title, 'Events')

.page-header
  .photo-header

%section#events.standard-section
  %h2.section-header.container Upcoming Events

  .contrast-box
    .container

      %ul.events-filters
        %li
          %a.active{href:''} All
        %li
          %a{href:''} Sales
        %li
          %a{href:''} Judged Shows

    
    %ol.events-list
      %li.container.table-grid
        .event-date.tcell-1-3
          %span.month Feb 
          %span.day 5-9

        .event-title.tcell-2-3.omega
          Northwest Flower and Garden Show
          .event-location
            Seattle, WA

      %li.container.table-grid
        .event-date.tcell-1-3
          %span.month Feb 
          %span.day 10

        .event-title.tcell-2-3.omega
          NWOS Monthly Meeting
          .event-location
            Seattle, WA
