-provide(:title, 'Events')

.container

  %section#events.standard-section
    %h2.section-header.green Events

    %ul
      %li 
        %p
          March 22-24
        %p
          Vancouver Orchid Society Show and Sale 
        %p
          VanDusen Botanical Garden, Floral Hall
          %br
          5251 Oak St.
          %br
          Vancouver BC

      %li 
        %p
          March 23-24
        %p
          Spokane Orchid Society Show
        %p
          Southside Community Center
          %br
          3151 E. 27th Ave.
          %br
          Spokane, WA

      %li
        %p
          April 6-7
        %p
          Cherry City Orchid Society Show
        %p
          Lancaster Mall
          %br
          831 Lancaster Drive NE
          %br
          Salem, OR

      %li
        %p
          April 6-7
        %p
          Northwest Orchid Society Show
        %p
          Sky Nursery
          %br
          18528 Aurora Ave. N
          %br
          Shoreline, WA

      %li
        %p
          April 20-21
        %p
          Oregon Orchid Society Show
        %p
          Ambridge Event Center
          %br
          1333 NE Martin Luther King Jr Blvd.
          %br
          Portland, OR

      %li
        %p
          May 4-5
        %p
          South Central Washington Orchid Society Show and Sale
        %p
          Tri-Tech Skills Center
          %br
          5929 W Metaline
          %br
          Kennewick, WA