-provide(:title, 'About')

.container.standard-section-container
  %section#the-society
    %h2.section-header.green About the Society

    %p The Northwest Orchid Society was founded in 1947 with the goal of creating a community for orchid growers, and promoting and educating people about this rewarding hobby. We welcome both beginner and experienced orchid growers who would like to learn more and meet other people with similar interests to join us. We host monthly meetings with guest speakers, plant raffles, special event planning, and of course a display table where our members show off their latest blooms.

    %p If you're interested in becoming a member, or are just curious and would like to stop by one of our meetings to see what we're all about, you can find us on the second Monday of each month at the Center for Urban Horticulture on the University of Washington Campus.

    %p The Northwest Orchid Society (NWOS) is an affiliate of the American Orchid Society (AOS) and the Orchid Digest Corporation (ODC).

  %section#the-society
    %h2.section-header.green Scholarship Information

    %p The Northwest Orchid Society funds research for projects related to orchids. These awards (typically $500 or less) are open to undergraduate and graduate students enrolled in certified institutions of higher education in the states of Washington, Oregon, and Idaho.  Get more info HERE.


