-provide(:title, 'About')

.page-banner
  .photo-banner

.container

  %section#the-society.standard-section
    %h2.section-header About the Society

    %p The Northwest Orchid Society is a non-profit organization founded in 1947 with the goal of creating a community for orchid growers while promoting and educating people about this rewarding hobby. We welcome both beginner and experienced orchid growers who would like to learn more and meet other people with similar interests. We host monthly meetings with guest speakers, plant raffles, special event planning, and a display table where our members show off their latest blooms.

    %p 
      If you're interested in 
      = succeed ',' do
        = link_to 'becoming a member', membership_path 
      or are just curious and would like to stop by one of our meetings to see what we're all about, you can find us on the second Monday of each month at the
      = succeed ',' do
        %a{href:"http://depts.washington.edu/uwbg/visit/directions.shtml", target: "_blank"} University of Washington Botanic Gardens, Center for Urban Horticulture
      in NHS Hall. Our meetings start at 7:00pm.

    %p 
      The Northwest Orchid Society (NWOS) is an affiliate of the 
      %a{href: 'https://www.aos.org/'} American Orchid Society (AOS) 
      and the 
      %a{href: 'http://www.orchiddigest.com/'} Orchid Digest Corporation (ODC).

  %section#scholarship.standard-section
    %h2.section-header Scholarship Fund

    %p Each year the Northwest Orchid Society offers funding for student research projects related to orchids. These awards (typically $1,000 or less) are open to undergraduate and graduate students enrolled in certified institutions of higher education in Washington, Oregon, and Idaho.

    %p Proposals are judged on the basis of experimental/research quality and must have some direct relationship to orchids (examples: conservation biology, orchid relationships with and/or adaptation to the environment, pollination biology, propagation, and tissue culture). The 2014 deadline for receipt of proposals is April 23rd. Awards will be annouced by mid-May. Recipients must agree either to give a short presentation about the project at an NWOS meeting in Seattle, or submit a brief report describing the research outcome at the end of the grant period (1 year). A presentation is prefered as our members are extremely interested in orchid research.

    %section.secondary-section
      %h3.section-secondary-header Submission requirements

      %p Applicants must submit a 1-3 page proposal outlining the nature of the research, research plans and procedures, the availability of necessary equipment and supplies, and a simple budget describing how the money will be used. A curriculum vitae is optional. The student’s supervising professor also must submit a short letter of support. Be sure to include all contact information with your submitted materials so we can reach you.

      %p 
        %a{href: "forms/2014_NWOS_scholarship_info.pdf", target: "_blank"} Read here
        for more submission details, or contact us at
        =succeed '.' do
          %a{href: "mailto:nwos@nwos.org"} nwos@nwos.org

  %section#funds.standard-section.last
    %h2.section-header Other Supported Funds

    %section.secondary-section
      %h3.section-secondary-header Slipper Fund

      %p This fund is given to the University of Washington Botany Greenhouse so that they may purchase species orchids. The Greenhouse serves research, education, outreach, and curatorial purposes. Thousands of undergraduates from classes all over campus visit throughout the year to learn about adaptation, diversity, ecology, and even botanical illustration.

    %section.secondary-section
      %h3.section-secondary-header Zoo Fund

      %p Our society aids the Woodland Park Zoo Greenhouse in their conservation efforts by giving funds to acquire plants for their orchid collection. Orchids can be seen at the Zoo's Tropical Rainforest Building, growing naturally as one might see them in the wild. These serve to enrich the environments of the Zoo's animals as well as educate the public about plant diversity and ecology.

    %section.secondary-section
      %h3.section-secondary-header NWOS Library Fund

      %p This fund is used to purchase new materials such as books, periodicals, and horticulture equipment for the NWOS library. Any member of the society may request to checkout any of these items for free use. This serves as an invaluable resource for many of our members, new and experienced.




