-provide(:title, 'Contact')

.container.page-main-content
  %section
    %h2.section-header Contact Us

    = render "contact_messages/form" 

  %section
    %h2.section-header General Contact Information

    Email:
    %a{href: "mailto:nwos@nwos.org"} nwos@nwos.org

    %br

    Phone:
    %a{href: "http://tel:+2067815805"} (206) 781-5805

    %h3 Meeting Location
    %p
      University of Washington Botanical Gardens
      %br
      Center for Urban Horticulture 
      %br
      3501 NE 41st Street 
      %br
      Seattle, WA 98105

    %h3 Mailing Address
    %p
      Northwest Orchid Society
      %br
      PO Box 51021
      %br 
      Seattle, WA 98115-1021
