-provide(:title, 'Contact')

.page-banner
  .photo-banner

.container.contact-page-container.grid-direction-right

  %section.contact-information.standard-section.col-1-3.omega
    %h2.section-header Contact Information
    %p
      %a.contact-email{href: "mailto:nwos@nwos.org"} 
        %i.fa.fa-envelope
        nwos@nwos.org
      %br
      %a.contact-phone{href: "http://tel:+2067815805"} 
        %i.fa.fa-phone
        (206) 781-5805

    .secondary-section
      %h3.section-secondary-header Mailing Address
      %p
        Northwest Orchid Society
        %br
        PO Box 51021
        %br 
        Seattle, WA 98115-1021

    .secondary-section
      %h3.section-secondary-header Meeting Location
      %p
        UW Botantic Gardens
        %br
        Center for Urban Horticulture
        %br
        3501 NE 41st Street 
        %br
        Seattle, WA 98105

  %section.standard-section.last.col-2-3
    %h2.section-header Send Us a Message

    = render "contact_messages/form" 