%section.home-featured
  %img.home-featured-bg{src: 'assets/placeholder.jpg'}
  .home-featured-content-container
    .container
      .home-featured-content
        %h2.home-featured-heading 
          Orchids at the Flower &amp; Garden Show
        %p 
          Join us February 3rd - 15th for our Amazing Orchid Display "Art in Bloom."
          %a{href: ""} 
            Learn More
            %i.fa.fa-angle-double-right

.container
  %section.about-us.standard-section.col-1-half
    %h2 Our Society
    %p 
      We are an active society made up of a diverse group who all share a fasination with Orchids. What to learn about Orchids? What better way?
      %a{href: ""} Learn More

  %section.membership.standard-section.col-1-half
    %h2 Become a Member
    %p We are an active society made up of a diverse group who all share a fasination with Orchids. What to learn about Orchids? What better way?

