%section.home-featured
  %ul.rslides
    %li
      =link_to event_path(6) do
        .home-featured-bg-cover{style: "background-image: url(assets/slides/slide3.jpg)"}
        %img.home-featured-bg{src: 'assets/slides/slide3.jpg'}
        .home-featured-content
          .container
            %h2.home-featured-heading 
              Want to learn more about orchids?
            %p 
              Come visit us at our next meeting.

    %li
      =link_to event_path(4) do
        .home-featured-bg-cover{style: "background-image: url(assets/slides/repotting.jpg)"}
        %img.home-featured-bg{src: 'assets/slides/repotting.jpg'}
        .home-featured-content
          .container
            %h2.home-featured-heading
              Hands-on Potting Clinic
            %p 
              Re-pot your orchids with the help of an experienced grower.

.container
  %section.col-1-2.standard-section
    %h2.section-header Newsletter
    %p 
      For a recap of last month's meeting and information about upcoming events, check out the latest edition of our
      =link_to "monthly newsletter.", "http://newsletter.nwos.org"

  %section.col-1-2.omega.standard-section
    %h2.section-header Join Us
    %p 
      Become a member of NWOS and learn how to get the most out of your orchids. We are a diverse community and welcome all levels of experience.
      =link_to "Sign up now.", membership_path 

