%section.home-featured
  %ul.rslides
    %li
      =link_to events_path do
        .home-featured-bg-cover{style: "background-image: url(assets/slides/slide1.jpg)"}
        %img.home-featured-bg{src: 'assets/slides/slide1.jpg'}
        .home-featured-content
          .container
            %h2.home-featured-heading 
              50 Shades of Orchids
            %p 
              Join us February 5th - 9th at the Northwest Flower & Garden Show.

    %li
      =link_to events_path do
        .home-featured-bg-cover{style: "background-image: url(assets/slides/slide3.jpg)"}
        %img.home-featured-bg{src: 'assets/slides/slide3.jpg'}
        .home-featured-content
          .container
            %h2.home-featured-heading 
              Another Slide
            %p 
              This is slide two.

.container
  %section.col-1-2.standard-section
    %h2.section-header Our Society
    %p 
      We are an active community of orchid enthusiasts growing in the Pacific Northwest. 
      %a{href: ''} Learn more about who we are. 

  %section.col-1-2.omega.standard-section
    %h2.section-header Join Us
    %p 
      Want to learn how to get the most out of your orchids? What better way than to become a member. We are a diverse community and welcome all levels of experience.
      %a{href: ''} Sign up now. 

