%section.home-featured
  .home-featured-content-container
    .container
      .home-featured-content
        %h2.home-featured-heading 
          %span.lg-1_5x Thank You 
          %br
          from NWOS
        %p We would like to thank everyone for an outstanding turn out at our Fall Orchid Festival. Not only does your support help the society with public outreach about orchid culture and conservation, but it also makes for a fun and exciting event. Thank you again!
  %img.home-featured-bg{src: 'assets/placeholder.jpg'}

.container.page-main-content
  %section.about-us
    %h2 Our Society
    %p 
      We are an active society made up of a diverse group who all share a fasination with Orchids. What to learn about Orchids? What better way?
      %a{href: ""} Learn More

  %section.membership
    %h2 Become a Member
    %p We are an active society made up of a diverse group who all share a fasination with Orchids. What to learn about Orchids? What better way?

