-provide(:title, 'Membership')

.page-banner
  .photo-banner

.container

  %section#membership.standard-section.clearfix
    %h2.section-header Membership

    %p Membership is open to anyone, many of our members are brand new to orchid growing as a hobby and find a lot to learn at each new meeting. Some of our members join with years of orchid care under their belt and find a community in which they can give back and help to educate the next generation of orchid enthusiasts. Whether you just bought your first Phalaenopsis or you already have a greenhouse filled with your favorite species and hybrids, there are many benefits to joining our society.

    %section.secondary-section.clearfix
      .col-1-2
        %h3.section-secondary-header Monthly Meetings
        %p 
          Meetings are normally held the second Monday of each month with the exception of July and August. The meetings begin at 7:00pm at the 
          %a{href:"http://depts.washington.edu/uwbg/visit/directions.shtml", target: "_blank"} University of Washington Botanic Gardens, Center for Urban Horticulture,
          in NHS Hall. Our meetings feature informative programs, guest speakers, orchid exhibits, plant raffles, and sales. One Meeting each year features a special auction. The auction is a chance for members to sell their extra plants and to bid on new ones to add to their collection.

      .col-1-2.omega
        .google_map_canvas_container.padding-box
          .google_map_canvas{data: {:"google-map" => true, :lat => 47.657987, :lng => -122.290565}}
            University of Washington Botanic Gardens, Center for Urban Horticulture
          %a.get-directions{href: get_directions_link('3501 NE 41st Street, Seattle, WA 98105'), target: '_blank'} 
            Get Directions
            %i.fa.fa-angle-right


    %section.secondary-section
      %h3.section-secondary-header August Picnic
      %p Instead of a meeting in August, the society holds a picnic for all of its members. The picnic is a social gathering held during a weekend in August, the date and location depending on weather.

    %section.secondary-section
      %h3.section-secondary-header Holiday Gift and Potluck
      %p In the month of December our meeting is a holiday potluck where each member receives a holiday gift orchid.

    %section.secondary-section
      %h3.section-secondary-header Plant Sales Table
      %p Members may bring a maximum of 5 orchid plants or compots to each regular monthly meeting to sell. Fifteen percent of money collected goes to the society. Although only members may sell plants, anyone in attendance may purchase plants.

    %section.secondary-section
      %h3.section-secondary-header Orchid Auction
      %p One of our monthly meetings is devoted to an auction of orchid plants. It is a chance for members to sell "surplus" plants and to add new ones to their collection.

    %section.secondary-section
      %h3.section-secondary-header Annual Show
      %p The Northwest Orchid Society sponsors an annual AOS judged show which is open to the public. Invited orchid vendors from across the U.S. bring plants to display and sell.

    %section.secondary-section
      %h3.section-secondary-header Library of Orchid Publications
      %p The NWOS maintains a library of orchid books, videotapes, and periodicals available for member use by arrangement with the Society Librarian.

    %section.secondary-section.last
      %h3.section-secondary-header Orchid Exhibits
      %p At our monthly meetings there is an exhibition table where members can display their blooming plants. During the meeting a member does the “plant table walk”, points out unusual, interesting, or exceptionally well-grown plants and asks some of the growers for information about their plants and growing conditions.

%section#join-now.standard-section
  %h2.section-header.container Become a Member

  .contrast-box 
    .container
      .col-1-2
        %p 
          There are now multiple ways you can join or renew your membership with NWOS:
          %ul
            %li 
              Mail this completed 
              %a{href:'/forms/nwos_membership_form.pdf', target: "_blank"} membership form
              to the Northwest Orchid Society, PO Box 51021, Seattle, WA 98115-1021. 
            %li 
              Bring a check, cash, or debit/credit card with you to one of our monthly meetings. 
            %li
              Use Paypal via our web form.

        %p Annual dues of $25 for a single membership or $30 for a joint membership (two people residing in the same household) are due every July 1st. Those who join after March 1st are paid through June 30th of the following year.

      .col-1-2.omega
        %form.join-renew-paypal-form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top", data: {validation: true}}
          %input{type: "hidden", name: "cmd", value: "_s-xclick"}
          %input{type: "hidden", name: "hosted_button_id", value: "FG6HMY972X6ZE"}
          %input{type: "hidden", name: "on0", value: "Membership Plan"}
          %input{type: "hidden", name: "currency_code", value: "USD"}

          .field
            %label{name: "os0"} Membership Plan

            %select{name: "os0"}
              %option{value:"Single"} Single - $25.00 USD
              %option{value:"Joint"} Joint - $30.00 USD

          .submit-container
            %input{type: "submit", value: 'Join / Renew'}
            %img{alt: "", border: "0", src: "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width: "1", height: "1"}