.events-page {

/*
 *  Photo Header
 */

  .photo-banner {
    background-image: url(../assets/photo_header_bgs/oncidium.jpg);
  }
}

/*
 *  Events Index Styles
 */

.events-index,
.events-by_category {

  #events {
    margin-bottom: 0;

    .contrast-box {
      padding-bottom: 6em;
    }
  }

  .events-filters {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2.5em;
    @include Clearfix;

    li {
      float: left;
      margin-left: 2em;

      a {
        display: block;
        position: relative;
        padding-top: 1em;
        color: $text-black-light;

        &:hover, &:active {
          color: $orange;
        }

        &.active {
          color: $orange;

          &:before {
            content: '';
            @include position(absolute, 0px 0 0 0px);
            background-color: $orange;
            width: 100%;
            height: 3px;
          }
        }
      }

      &:first-child {
        margin: 0;
      }
    }
  }

  .events-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      background-color: $white;
      padding-top: 2em;
      padding-bottom: 2em;
      border-top: 1px solid $off-white;

      &:first-child {
        border-top: 0;
      }
    }

    .event-date,
    .event-title {
      vertical-align: middle;
    }

    .event-date {
      font-size: 1.25em;
      color: $text-gray;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1;

      span {
        @include inline-block;
        vertical-align: middle;
      }

      .day {
        font-size: 1.5em;
        margin-left: 1em;
      }
    }

    .event-title {
      font-size: 1.25em;
      font-weight: bold;

      .event-location {
        font-size: 0.7em;
        color: $text-black-light;
      }
    }

    li.past-event {
      background-color: $white-dark;

      .event-date,
      .event-title,
      .event-location {
        color: $text-gray-lighter;
      }
    }
  }

  .no-events-message {
    color: $text-gray;
    font-style: italic;
  }
}

/*
 *  Events Show Page
 */

.events-show {

  .event-information {
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    line-height: 1.7;

    .table-header {
      font-size: 1em;
      text-transform: uppercase;
      color: $text-gray;
    }

    .event-hours {
      span {
        @include inline-block;
      }

      .wday {
        width: 3.4em;
        color: $text-gray;
      }
    }

    .location-header {
      margin-bottom: 2em;
    }

    a:hover, a:active {
      border-bottom: 1px dotted $blue-light;
    }
  }

  .google_map_canvas {
    height: 300px;
  }

  .event-additional-information {
    padding-top: 3em;
    padding-bottom: 7em;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0.5em 0;
      }
    }

    .standard-section {
      margin-bottom: 2.5em;
    }
  }

  .event-section-header {
    font-size: 1.6em;
    margin: 0 0 0.5em;
    color: $magenta-dark;
  }

/*
 *  Event Vendors Section
 */

  .event-vendors {

    ul {
      li {
        margin: 1.5em 0;
      }
    }

    .vendor-header {
      font-size: 0.8em;
      margin: 0 0 0.7em;
    }

    .vendor-name {
      font-size: 1.4em;
    }

    .vendor-location {
      color: $text-gray;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 0.5em;
    }
  }
}