html, body {
  height: 100%;
}

body {
  @include Montserrat;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;

  color: $text-black;
  background-color: #fefefe;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover, &:active {
    color: $blue-light;
  }
}

.sticky-footer-container {
  // for sticky footer
  // see http://www.joshrcook.com/a-responsive-sticky-footer/
  display: table;
  height: 100%;
  width: 100%;
}

.main {
  @include font-smoothing;
}

.container {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  @include Clearfix;

  @include media(mobile-tablet) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include media(desktop) {
    padding-left: 32px;
    padding-right: 32px;
  }

  &.table-grid {
    box-sizing: border-box;
    max-width: 984px;
  }
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition(height 0.35s ease);
}

/*
 *  Header & Nav
 */

header.header {
  z-index: 1000;

  @include media(desktop) {
    background-color: $onyx;
    position: relative;

    &:after {
      content: '';
      display: block;
      @include position(absolute, 0 0 -0.5em 0);
      width: 100%;
      height: 0.5em;
      background-color: rgba($off-white, 0.2);
    }
  }
}

.navbar {
  background-color: $onyx;

  @include media(mobile-tablet) {
    padding: 0;
  }

  @include media(desktop) {
    position: relative;
    height: 5.3em;
  }

  .navbar-header {

    @include media(desktop) {
      @include position(absolute, 0 0 0.8em 0);

      .container {
        padding: 0;
      }
    }

    .navbar-logo {
      margin: 0;
      float: left;
      @include Goudy;
      color: #a4a4a4;
      background-repeat: no-repeat;

      @include media(desktop) {
        display: block;
        @include ImageReplacement;
        @include retina-image(logo, 222px 55px);
        width: 222px;
        height: 55px;
      }

      @include media(mobile-tablet) {
        display: block;
        @include ImageReplacement;
        @include retina-image(logo_small, 113px 35px);
        width: 113px;
        height: 35px;
        margin-top: 7px;
      }
    }
  }

  .navbar-toggle {

    @include media(mobile-tablet) {
      display: block;
      float: right;
      padding: 1em;
      margin: 0;
      margin-right: -1em;
      @include appearance(none);
      background-color: transparent;
      border: none;

      font-size: 1em;
      color: #a4a4a4;

      &:active, &:hover, &:focus {
        color: white;
        outline: none;
      }
    }

    @include media(desktop) {
      display: none;
    }
  }

  .navbar-collapse {
    background-color: $onyx-light;
    box-shadow: inset 0 0 1em rgba(black, 0.1);

    @include media(desktop) {
      width: auto;
      background-color: transparent;
      box-shadow: none;

      @include position(absolute, 0 2em 0px 0);
      @include Clearfix;
    }
  }

  .navbar-collapse.collapse {
    @include media(desktop) {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
  }

  .navbar-collapse.in {
    @include media(desktop) {
      overflow-y: visible;
    }
  }

  ul.main-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        display: block;
        padding: 0.7em 1em;
        color: #a4a4a4;
        @include font-smoothing;
        @include transition(all 0.3s ease);

        &:hover, &:active {
          color: white;
          background-color: $onyx-lighter;
        }

        &.active {
          color: white;
        }
      }
    }

    @include media(desktop) {
      float: right;
      font-size: 0.9em;
      margin-right: -1.4em;
      padding: 0;

      li {
        float: left;
        text-transform: uppercase;

        a {
          @include inline-block;
          padding: 1.4em;
        }
      }
    }
  }
}

/*
 *  Footer
 */

footer.footer {
  background-color: $deep-magenta;
  color: $gray-dark;

  // for sticky footer
  // see http://www.joshrcook.com/a-responsive-sticky-footer/
  display: table-row;
  height: 1px;

  .container {
    @include font-smoothing;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      @include Clearfix;
    }

    @include media(mobile-tablet) {
      padding-top: 2em;
      padding-bottom: 2em;
    }

    @include media(desktop) {
      @include Clearfix;
      padding-top: 3em;
      padding-bottom: 4em;
    }
  }

  ul#site-map {
    font-size: 0.75em;

    @include media(mobile-tablet) {
      margin-bottom: 2em;
    }

    @include media(desktop) {
      float: left;
    }
  }

  ul#site-map li ul {

    li {
      margin-bottom: 0.8em;

      a {
        color: $gray-dark;
        @include transition(color 0.3s ease);

        &:hover, &:active {
          color: white;
        }
      }

      &:first-child {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1.1em;
      }
    }
  }

  ul#site-map li.site-map-contact {
    clear: left;

    @include media(desktop) {
      li {
        float: left;
        line-height: 1.5;

        &:first-child {
          float: none;
          margin-bottom: 0.7em;
        }
      }
    }
  }

  .site-map-col {
    margin-bottom: 2.7em;

    @include media(desktop) {
      float: left;
      min-width: 11.5em;
      margin-right: 2.6em;
    }
  }

  .footer-aside {
    @include Clearfix;

    @include media(mobile-tablet) {
      float: left;
      clear: both;
    }

    .donate-link {
      margin-bottom: 1em;
      margin-left: 1em;
      float: right;
    }

    ul.social-media-nav {
      margin-bottom: 1em;
      float: right;

      li {
        float: left;
        margin-left: 0.2em;

        &:first-child {
          margin-left: 0;
        }
      }

      .foreground-icon {
        color: $gray-dark;
        @include transition(color 0.35s ease);
      }
      .background-icon {
        color: $gray-dark;
        opacity: 0.2;
        @include transition(opacity 0.35s ease);
      }

      a:hover, a:active {
        .foreground-icon {
          color: white;
        }
        .background-icon {
          opacity: 0.3;
        }
      }
    }

    .copyright {
      clear: right;
      font-size: 0.7em;
      @include rgba-fallback(color, $gray-dark, 0.6);

      @include media(desktop) {
        text-align: right;
      }
    }
  }
}

/*
 *  Headers
 */

.page-header {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: $magenta-dark;

  h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin: 0;
    @include inline-block;
  }

  .breadcrumbs {
    margin: 0;
    color: $text-gray;
    font-size: 0.6em;
    @include inline-block;

    a {
      color: $text-gray;
      @include inline-block;
      margin-right: 0.2em;

      &:hover, &:active {
        color: $text-black-light;
        border-bottom: 1px dotted $text-black-light;
      }
    }
  }
}

.section-header {
  font-size: 2em;
  color: $magenta-dark;
}

.section-secondary-header {
  font-size: 1.3em;
  color: $text-black-light;
}

.gray-section-header {
  color: $text-gray;
  text-shadow: 1px 2px 0 rgba(black, 0.1);
}

/*
 *  Sections & Containers
 */

.standard-section {
  margin-bottom: 3.5em;

  &.last {
    margin-bottom: 7em;
  }

  .secondary-section {
    margin-top: 2em;
    margin-bottom: 2em;

    &.last {
      margin-bottom: 0;
    }
  }

  // standard-section headers

  .section-header {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .section-secondary-header {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  // standard-section tags

  p {
    line-height: 1.7;
    margin: 0 0 1.2em;

    a:hover, a:active {
      border-bottom: 1px dotted $blue-light;
    }
  }

  ul {
    padding: 0 0 0 1.2em;
    margin: 1.8em 0;

    li {
      line-height: 1.7;
      margin-bottom: 1em;
    }
  }
}

.contrast-box {
  background-color: $off-white;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 1em;
    @include position(absolute, 0px 0 0 0px);
    @include linear-gradient(to bottom, rgba($off-white-dark, 0.1), transparent, $fallback: transparent);
  }
}

.white-box {
  background-color: $white;
}

.padding-box {
  padding: 1em;
  background-color: $off-white;
}

/*
 *  Common Page Elements
 */

.page-banner {
  margin-bottom: 3.6em;

  .photo-banner {
    height: 65px;
    background-position: center;
    background-size: cover;
  }
}

ul.tags {
  list-style-type: none;
  padding: 0;
  margin: 1em 0 2em;
  @include Clearfix;

  li {
    float: left;
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }

    a {
      font-size: 0.7em;
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      background-color: $text-gray;
      padding: 0.5em 0.9em;
      border-radius: 6px;

      &:hover, &:active {
        background-color: $orange;
      }
    }
  }
}

.google_map_canvas_container {
  text-align: center;

  .google_map_canvas {
    background-color: #ccc;
  }

  a.get-directions {
    i {
      margin-left: 0.5em;
    }
  }
}

/*
 *  Buttons
 */

a.button {
  @include Button;
}

a.button-large {
  @include ButtonLarge;
}

.share-buttons {
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  list-style-type: none;
  @include Clearfix;

  li {
    margin-bottom: 1em;
  }
}

.social-media-button {
  display: block;
  font-size: 1.1em;
  padding: 1em 1.5em;
  border-radius: 3px;
  @include transition(all 0.3s ease);

  color: $off-white;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;

  &:hover {
    color: white;

    &.facebook {
      background-color: lighten(#3b5998, 5%);
    }
    &.twitter {
      background-color: lighten(#00acee, 5%);
    }
  }

  &.facebook {
    background-color: #3b5998;
  }
  &.twitter {
    background-color: #00acee;
  }

  i {
    padding-right: 0.5em;
    font-size: 1.6em;
    vertical-align: middle;
  }
}

