/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    @include ImageReplacement
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    @include Hidden;
}

@media all and (max-width: 768px) {
  .mobile-hidden {
    @include Hidden;
  }
}
@media all and (min-width: 769px) {
  .desktop-hidden {
    @include Hidden;
  }
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    @include VisuallyHidden;
}

@media all and (max-width: 768px) {
  .mobile-visuallyhidden {
    @include VisuallyHidden;
  }
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable {
    @include Focusable;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.clearfix {
    @include Clearfix;
}

.lg-1_5x {
  font-size: 1.5em;
}

.lg-2x {
  font-size: 2em;
}