$light1: #fcfcfa;
$light2: #f9f8f5;
$light3: #e7e7e2; //#ebe4d5; //#d9d4ca; //#f0e9db;
$medium: #d7d7d2; //#d9d5cd;
$medium2: #a6a197;
$dark: #6c6b65;
$green: #6E8A41;
$light-green: #8db153;
$red: #AD2835; //#9A2236;


// 7D1935 ruby red
// f73f3d

$brand-text-darker: #4b4b4b;
$brand-text-dark: lighten( $brand-text-darker, 20% );
$brand-text: lighten( $brand-text-darker, 40% );
$brand-text-light: lighten( $brand-text-darker, 60% );
$brand-text-lighter: lighten( $brand-text-darker, 80% );

$brand-neutral-lighter: #f7f6f4;
$brand-neutral-lightest: lighten( $brand-neutral-lighter, 5% );
$brand-neutral-light: desaturate(darken( $brand-neutral-lighter, 5% ), 5%);
$brand-neutral: desaturate(darken( $brand-neutral-lighter, 12% ), 7%);
$brand-neutral-dark: desaturate(darken( $brand-neutral-lighter, 25% ), 9%);
$brand-neutral-darker: desaturate(darken( $brand-neutral-lighter, 30% ), 9%);

$brand-green: #3b5998;
$brand-green-light: lighten( $brand-green, 10% );
$brand-green-lighter: lighten( $brand-green, 20% );
$brand-green-dark: darken( $brand-green, 10% );
$brand-green-darker: darken( $brand-green, 20% );

$brand-pink: #B163A3;
$brand-pink-light: lighten( $brand-pink, 10% );
$brand-pink-lighter: lighten( $brand-pink, 20% );
$brand-pink-dark: darken( $brand-pink, 10% );
$brand-pink-darker: darken( $brand-pink, 20% );

$warning-color: #fac005;
$warning-color-light: lighten( $warning-color, 20% );
$warning-color-lighter: lighten( $warning-color, 40% );
$warning-color-dark: darken( $warning-color, 10% );
$warning-color-darker: darken( $warning-color, 20% );


$standard-black: $brand-text-darker;
$text-gray: #7b7b7b;


@mixin Goudy {
  font-family: 'Sorts Mill Goudy', serif;
}

@mixin Montserrat {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

@mixin DarkTransparent($alpha: 0.5, $property: background-color) {
  #{$property}: rgba(91,91,92,$alpha);
}

@mixin ImageReplacement {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

@mixin Hidden {
  display: none !important;
  visibility: hidden;
}

@mixin VisuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin Focusable {
  &:active,
  &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
  }
}

//STOP Hiding visually, provide an optional position to reset from absolute
//Need to add your own reset for sizing, etc.
@mixin Unhidden($position: static, $w: auto, $h: auto) {
  position: $position;
  clip: auto;
  width: $w;
  height: $h;
}

@mixin Clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin InlineBlock {
  display: inline-block;
  *zoom:1;
  *display:inline;
}

/*
 *  Progressive enhancement mixins
 */

@mixin TextShadow($args) {
  -webkit-text-shadow: $args;
     -moz-text-shadow: $args;
          text-shadow: $args;
}

@mixin Opacity($value: 0.5) {
  -webkit-opacity: $value;
     -moz-opacity: $value;
          opacity: $value;

  $msvalue: $value*100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$msvalue)";
      filter: alpha(opacity=$msvalue);
  *zoom: 1;
}

@mixin BoxSizing($value: border-box){
  -webkit-box-sizing: $value;
     -moz-box-sizing: $value;
          box-sizing: $value;
}

@mixin Shadow($value){
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
          box-shadow: $value; 
}

@mixin BorderRadius($value: 3px) {
  -webkit-border-radius: $value;
     -moz-border-radius: $value;
          border-radius: $value;
}

@mixin BackgroundClip($value) {
  // keeps background from busting out of border 
  -webkit-background-clip: $value;
     -moz-background-clip: $value;
          background-clip: $value+"-box";
}

@mixin Transition($value){
  -webkit-transition: $value;
     -moz-transition: $value;
       -o-transition: $value;
          transition: $value;
}