@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Montserrat:400,700);

$media-queries: false;

@import 'normalize';
@import 'font-awesome';
@import 'bourbon';
@import 'mixins';
@import 'bourbon-grid';
@import 'helpers';

@import 'core';
@import 'forms';
@import 'pages/home';
@import 'pages/membership';
@import 'pages/contact';

// use the actual image instead of the background 'cover' 
// since background size is not supported

.home-featured {
  .home-featured-bg {
    visibility: visible;
  }

  .home-featured-bg-cover {
    display: none;
  }
}