$light1: #fcfcfa;
$light2: #f9f8f5;
$light3: #ebe4d5; //#d9d4ca; //#f0e9db;
$medium: #d9d5cd;
$medium2: #a6a197;
$dark: #6c6b65;
$green: #6E8A41;
$light-green: #8db153;

//font-family: 'Sorts Mill Goudy', serif;
//font-family: 'Montserrat', sans-serif;


@mixin Clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin InlineBlock {
  display: inline-block;
  zoom:1;
  *display:inline;
}

@mixin TextShadow($args) {
  -webkit-text-shadow: $args;
     -moz-text-shadow: $args;
          text-shadow: $args;
}