$lightest: #f9f8f5;
$light: #f0e9db;
$medium: #d9d5cd;
$dark: #6c6b65;
$green: #6E8A41;
$light-green: #8db153;

//font-family: 'Sorts Mill Goudy', serif;
//font-family: 'Montserrat', sans-serif;


@mixin Clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin InlineBlock {
  display: inline-block;
  zoom:1;
  *display:inline;
}